<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="${LOCALAPPDATA}\SeeTec\Templogs\Log\client.log"/>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <ConversionPattern value="%d{MMMMdd hh:mm:ss} %p [%method]  %message %newline"/>
    </layout>
  </appender>
</log4net>
